@model ResultadoBusquedaViewModel

@{
    ViewData["Title"] = "Wavez | Resultados de Búsqueda";
}

<div class="text-center">
    <h1 class="display-4">Búsqueda</h1>

    <form asp-action="ResultadoBusqueda" method="get" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
        <input type="text" name="query" placeholder="Buscar..." value="@Context.Request.Query["query"]"/>
        <div>
            <input type="checkbox" name="filter" value="canciones" @(Model.Filtros.Contains("canciones") ? "checked" : "") /> Canciones
            <input type="checkbox" name="filter" value="playlists" @(Model.Filtros.Contains("playlists") ? "checked" : "") /> Playlists
            <input type="checkbox" name="filter" value="usuarios" @(Model.Filtros.Contains("usuarios") ? "checked" : "") /> Usuarios
        </div>
        <div>
            <select name="genre" id="genre-selector" onchange="toggleFilters(this)">
                <option value="">Seleccione un género</option>
                @foreach (var genre in Model.Generos)
                {
                    <option value="@genre">@genre</option>
                }
            </select>
        </div>
        <button type="submit">Buscar</button>
    </form>

    <div class="resultados">
        <h2>Resultados de: @Context.Request.Query["query"]</h2>

        <!-- Mostrar canciones -->
        @if (Model.Filtros.Contains("canciones"))
        {
            <h3>Canciones</h3>
            <div class="estanteria-canciones">
                @if (!Model.Canciones.Any())
                {
                    <p>No hay canciones que coincidan con tu búsqueda.</p>
                }
                else
                {
                    @foreach (var item in Model.Canciones)
                    {
                        <div class="card">
                            <img class="card-img-top" src="@item.FotoPortada" style="width:200px; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                                <p class="card-text"><strong>Género:</strong> @Html.DisplayFor(modelItem => item.Genero)</p>
                                <p class="card-text"><strong>Autor:</strong> @Html.DisplayFor(modelItem => item.Autor)</p>
                                <p class="card-text"><strong>Fecha de Lanzamiento:</strong> @Html.DisplayFor(modelItem => item.Fecha)</p>
                                <p class="card-text"><strong>Reproducciones:</strong> @Html.DisplayFor(modelItem => item.numReproducciones)</p>
                            </div>
                        </div>
                    }
                }
            </div>
        }

        <!-- Mostrar playlists -->
        @if (Model.Filtros.Contains("playlists"))
        {
            <h3>Playlists</h3>
            <div class="estanteria-playlists">
                @if (!Model.Playlists.Any())
                {
                    <p>No hay playlists que coincidan con tu búsqueda.</p>
                }
                else
                {
                    @foreach (var item in Model.Playlists)
                    {
                        <div class="card">
                            <img class="card-img-top" src="@item.FotoPortada" style="width:200px; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                            </div>
                        </div>
                    }
                }
            </div>
        }

        <!-- Mostrar usuarios -->
        @if (Model.Filtros.Contains("usuarios"))
        {
            <h3>Usuarios</h3>
            <div class="estanteria-usuarios">
                @if (!Model.Usuarios.Any())
                {
                    <p>No hay usuarios que coincidan con tu búsqueda.</p>
                }
                else
                {
                    @foreach (var item in Model.Usuarios)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Perfil" asp-route-id="@item.Usuario">
                            <div class="card" style="margin: 10px; display: inline-block;">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                </div>
                            </div>
                        </a> 
                    }
                }
            </div>
        }

    </div>
</div>

@section Scripts {
    <script>

        document.addEventListener("mousemove", (e) => {
            const circle = document.getElementById("mouse-circle");
            circle.style.transform = `translate(${e.pageX - 50}px, ${e.pageY - 50}px)`;
        });

        function toggleFilters(select) {
            var filters = document.querySelectorAll('input[name="filter"]');
            if (select.value) {
                filters.forEach(function(filter) {
                    if (filter.value !== "canciones") {
                        filter.checked = false;
                        filter.disabled = true;
                    }
                });
            } else {
                filters.forEach(function(filter) {
                    filter.disabled = false;
                });
            }
        }
    </script>
}