@model WebWavez.Models.PlaylistViewModel

@{
    ViewData["Title"] = "View";
    IEnumerable<WebWavez.Models.CancionViewModel> Songs = ViewBag.Canciones;
}

<h1>View</h1>

<div>
    <h4>Playlist Details</h4>
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <td>@Html.DisplayFor(model => model.Titulo)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FotoPortada)</th>
            <td>@Html.DisplayFor(model => model.FotoPortada)</td>
        </tr>
    </table>
</div>

<div>
    <h4>Songs</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Songs)
            {
                <tr>
                    <td>@song.Titulo</td>
                    <td>@song.Autor</td>
                    <td>@song.Fecha</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.addEventListener("mousemove", (e) => {
            const circle = document.getElementById("mouse-circle");
            circle.style.transform = `translate(${e.pageX - 50}px, ${e.pageY - 50}px)`;
        });
        </script>
}