@model IEnumerable<WebWavez.Models.PlaylistViewModel>


@{
    ViewData["Title"] = "Playlists";
    
    IEnumerable<WebWavez.Models.PlaylistViewModel> MisPlaylists = new List<WebWavez.Models.PlaylistViewModel>();
    
    if (ViewBag.MisPlaylists != null)
    {
        MisPlaylists =  ViewBag.MisPlaylists;
    }
}

<h1>Todas las Playlists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoPortada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoPortada)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>


<h1>Mis Playlists</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoPortada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in MisPlaylists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FotoPortada)
                </td>
                <td>
                    @Html.ActionLink("Ver Detalle", "Details", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
