@model IEnumerable<WebWavez.Models.ComunidadViewModel>

@{
    ViewData["Title"] = "Wavez | Comunidades";
}

<h1>Comunidades</h1>

<!--barra de busqueda por genero-->
<form asp-action="Index" method="get" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
    <div>
        <select name="genre" id="genre-selector" onchange="toggleFilters(this)">
            <option value="">Seleccione un género</option>
            @foreach (var genre in Model.Select(c => c.Genero).Distinct())
            {
                <option value="@genre">@genre</option>
            }
        </select>
    </div>

    <div class="filter-buttons">
        <button type="submit" name="filterType" value="all"
                class="filter-btn @(ViewBag.FiltroActual == "all" ? "active" : "")">
            Todas
        </button>
        <button type="submit" name="filterType" value="mine"
                class="filter-btn @(ViewBag.FiltroActual == "mine" ? "active" : "")">
            Mis Comunidades
        </button>
    </div>
    <button type="submit">Buscar</button>
</form>


<div class="comunidades-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Genero</h5>
                <p class="card-text">Descubre más accediendo a la comunidad.</p>
                <a asp-action="detalle" asp-route-id="@(Convert.ToInt32(item.Genero))" class="btn btn-primary">Ver Detalles</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>

        document.addEventListener("mousemove", (e) => {
            const circle = document.getElementById("mouse-circle");
            circle.style.transform = `translate(${e.pageX - 50}px, ${e.pageY - 50}px)`;
        });
    </script>
}