@model IEnumerable<WebWavez.Models.CancionViewModel>

@{
    ViewData["Title"] = "Wavez | Canciones";
}

<h1>Canciones</h1>

<p>
    <a asp-action="Create">Crear Nueva Cancion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoPortada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numReproducciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoPortada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numReproducciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>

        window.addEventListener('load', async function () {
            const songUrl = sessionStorage.getItem('currentSong');
            const currentTime = sessionStorage.getItem('currentTime');
            const songImage = sessionStorage.getItem('currentSongImage');


            const audioSource = document.getElementById('audioSource');
            const musicPlayer = document.getElementById('musicPlayer');
                audioSource.src = songUrl;
                await musicPlayer.load();
                musicPlayer.currentTime = currentTime


        });

        window.addEventListener('beforeunload', function () {
            const musicPlayer = document.getElementById('musicPlayer');
            if (musicPlayer) {
                const currentTime = musicPlayer.currentTime;
                sessionStorage.setItem('currentTime', currentTime);
            }
        });
    </script>
}